<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Spotify Skip Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>


    <main>
        <div class="form-container">
            <h2>Will your song be skipped?</h2>
            <form action="/predict" method="post">
                <input type="number" name="danceability" step="0.01" placeholder="Danceability" required>
                <input type="number" name="energy" step="0.01" placeholder="Energy" required>
                <input type="number" name="speechiness" step="0.01" placeholder="Speechiness" required>
                <input type="number" name="valence" step="0.01" placeholder="Valence" required>
                <input type="number" name="instrumentalness" step="0.01" placeholder="Instrumentalness" required>
                <input type="number" name="duration_ms" placeholder="Duration (ms)" required>
                <input type="number" name="popularity" placeholder="Popularity" required>

                <select name="genre" required>
                    <option value="" disabled selected>Select Genre</option>
                    {% for g in genres %}
                    <option value="{{ g }}">{{ g.title() }}</option>
                    {% endfor %}
                </select>

                <button type="submit" class="predict-btn">🎵 Predict</button>
            </form>

        </div>
    </main>
</body>

</html>